<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Color Game</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Demo SpringBoot REST App with MongoDB</h1>
			<p class="lead">This is simple REST App where I use SpringBoot, Thymeleaf, Bootstrap and NoSql - MongoDB. It is build pure for learning purpose.</p>
			<hr class="my-4">
			<div class="d-flex justify-content-around">
				<a class="btn btn-primary btn-lg" href="/names" role="button">Click Me to download data from DB</a>
				<a class="btn btn-primary btn-lg" href="#" role="button">Go to GitHub and inspect source code</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>